body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#141e30,#243b55);
    font-family:Arial,sans-serif;
}

.clock-container{
    text-align:center;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.4);
}

h1{
    color:#333;
    margin-bottom:20px;
}

#clock{
    font-size:50px;
    font-weight:bold;
    color:#243b55;
}